// ------------------------------------
//
// Header
//
// ------------------------------------


header {
  background-color: $color-bg-dark;
  padding: 25px 0;
  // height: 120px;

  .row {
    align-items: center;
  }

  #main-menu {
    justify-content: center;
  }
  #menu-main-menu {
    gap: 40px;
  }

  .navbar {
    a {
      @include hover-underline;
      font-family: $font-button;
      font-size: 18px;
    }
  }

  .col-cta {
    justify-content: flex-end;
  }
}